* {
    margin: 0px;
    padding: 0px;
}

.book-item img {
    max-height: 250px;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}